###Files and folders specified here will never be tracked.

#Ignore everything in datafolder and subdirectories
/data/**/*
#Only ignore config folder itself, subdirectories are allowed
/config/*

#Ignore compiled files and other files generated during compilation.
*.dmb
*.rsc
*.lk
*.int
*.backup
*.int
*.db